{{#question}}
    <div class="a-input-block d-flex justify-content-center align-items-start text-center w-100">
        <div class="left-filler"></div>
        <div>
            <table class="array-input table table-hover table-bordered table-sm rounded-3 overflow-hidden w-auto mb-0">
                <thead class="table-light">
                    <tr>
                        {{#column_names}}
                            <th class="px-2">{{{.}}}</th>
                        {{/column_names}}
                    </tr>
                </thead>
                <tbody>
                    {{#rows}}
                        <tr>
                            {{#index_col}}
                                <td>{{.}}</td>
                            {{/index_col}}
                            {{#is_material}}
                                {{! If it is question material, display correct answer directly}}
                                {{#content}}
                                    <td>{{correct_answer}}</td>
                                {{/content}}
                            {{/is_material}}
                            {{^is_material}}
                                {{! If it is question-required material, use input field}}
                                {{#content}}
                                    <td>
                                        <div class="result-container input-group d-flex align-items-center justify-content-center">
                                            <input
                                                type="text"
                                                name="{{cell_name}}"
                                                class="form-control"
                                                value="{{sub}}"
                                                data-prefill="{{prefill}}"
                                                style="width:{{width}}px"
                                                {{#placeholder}}placeholder="{{placeholder}}"{{/placeholder}}
                                            ></input>
                                                {{#show_partial_score}}
                                                    {{#correct}}
                                                        <span class="input-group-text">
                                                            <span class="badge bg-success">
                                                                <i class="fa fa-check" aria-label="correct"></i>
                                                        </span>
                                                    </span>
                                                    {{/correct}}
                                                    {{#incorrect}}
                                                        <span class="input-group-text">
                                                            <span class="badge bg-danger">
                                                                <i class="fa fa-times" aria-label="incorrect"></i>
                                                            </span>
                                                        </span>
                                                    {{/incorrect}}
                                                {{/show_partial_score}}
                                                {{#format_error}}
                                                    <button
                                                        type="button"
                                                        class="btn btn-light border d-flex align-items-center text-danger"
                                                        data-bs-toggle="popover"
                                                        data-bs-html="true"
                                                        title="Format Error"
                                                        data-bs-placement="auto"
                                                        data-bs-content="{{format_error}}"
                                                    >
                                                        <span class="me-1">Invalid</span>
                                                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                                    </button>
                                                {{/format_error}}
                                        </div>
                                    </td>
                                {{/content}}
                            {{/is_material}}
                        </tr>
                    {{/rows}}
                </tbody>
            </table>
            {{^is_material}}
                <div class="d-flex w-auto mt-auto mb-2 pt-2">
                    <button
                        type="button"
                        class="btn btn-outline-danger btn-sm reset-button"
                        data-table-uuid="{{uuid}}"
                    >
                        Reset Table
                    </button>
                    <div class="reset-confirm-container text-start" style="display: none;">
                        <button type="button" class="btn btn-secondary btn-sm reset-cancel me-1">
                            Cancel
                        </button>
                        <button type="button" class="btn btn-success btn-sm reset-confirm">
                            Confirm
                        </button>
                    </div>
                </div>
            {{/is_material}}
        </div>
        <div class="right-info-column d-flex flex-column align-items-start ps-1">
            {{^is_material}}
                {{#all_correct}}
                    <span class="badge bg-success badge-large mb-1">
                        <i class="fa fa-check-circle" aria-hidden="true"></i> 100%
                    </span>
                {{/all_correct}}
                {{^all_correct}}
                    {{#all_incorrect}}
                        <span class="badge bg-danger badge-large mb-1">
                            <i class="fa fa-times-circle" aria-hidden="true"></i> 0%
                        </span>
                    {{/all_incorrect}}
                    {{^all_incorrect}}
                        {{#score}}
                            <span class="badge bg-warning text-dark badge-large mb-1">
                                <i class="far fa-circle" aria-hidden="true"></i> {{score}}%
                            </span>
                        {{/score}}
                    {{/all_incorrect}}
                {{/all_correct}}
                {{^hide_help_text}}
                    <button
                        type="button"
                        class="btn p-0 border-0 text-dark d-flex align-items-center"
                        data-bs-toggle="popover"
                        data-bs-html="true"
                        title="Array Input"
                        data-bs-content="{{info}}"
                        data-bs-placement="auto"
                    >
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                    </button>
                {{/hide_help_text}}
            {{/is_material}}
        </div>
    </div>
{{/question}}

{{#submission}}
    <div class="a-input-block d-flex justify-content-center align-items-start text-center w-100">
        <div class="left-filler"></div>
        <table class="array-input table table-hover table-bordered table-sm rounded-3 overflow-hidden w-auto mb-2">
            <thead class="table-light">
                <tr>
                    {{#column_names}}
                        <th class="px-2">{{{.}}}</th>
                    {{/column_names}}
                </tr>
            </thead>
            <tbody>
                {{#rows}}
                    <tr>
                        {{#index_col}}
                            <td>{{.}}</td>
                        {{/index_col}}
                        {{#content}}
                            {{#is_material}}
                                {{! If it is question material, display correct answer directly}}
                                <td>{{correct_answer}}</td>
                            {{/is_material}}
                            {{^is_material}}
                                <td>
                                    <div class="result-container input-group d-flex align-items-center justify-content-center">
                                        {{sub}}
                                            {{#show_partial_score}}
                                                {{#correct}}
                                                    <span class="input-group-text">
                                                        <span class="badge bg-success">
                                                            <i class="fa fa-check" aria-label="correct"></i>
                                                    </span>
                                                </span>
                                                {{/correct}}
                                                {{#incorrect}}
                                                    <span class="input-group-text">
                                                        <span class="badge bg-danger">
                                                            <i class="fa fa-times" aria-label="incorrect"></i>
                                                        </span>
                                                    </span>
                                                {{/incorrect}}
                                            {{/show_partial_score}}
                                            {{#format_error}}
                                                <button
                                                    class="badge text-danger badge-invalid btn btn-sm btn-secondary small border"
                                                    data-bs-placement="auto"
                                                    data-bs-toggle="popover"
                                                    data-bs-html="true"
                                                    title="Format Error"
                                                    data-bs-content="{{format_error}}"
                                                >
                                                    Invalid
                                                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                                </button>
                                            {{/format_error}}
                                    </div>
                                </td>
                            {{/is_material}}
                        {{/content}}
                    </tr>
                {{/rows}}
            </tbody>
        </table>
        {{^is_material}}
            <div class="right-info-column d-flex flex-column align-items-start ps-1">
                {{#all_correct}}
                    <span class="badge bg-success badge-large">
                        <i class="fa fa-check-circle" aria-hidden="true"></i> 100%
                    </span>
                {{/all_correct}}
                {{^all_correct}}
                    {{#all_incorrect}}
                        <span class="badge bg-danger badge-large">
                            <i class="fa fa-times-circle" aria-hidden="true"></i> 0%
                        </span>
                    {{/all_incorrect}}
                    {{^all_incorrect}}
                        {{#score}}
                            <span class="badge bg-warning text-dark badge-large">
                                <i class="far fa-circle" aria-hidden="true"></i> {{score}}%
                            </span>
                        {{/score}}
                    {{/all_incorrect}}
                {{/all_correct}}
            </div>
        {{/is_material}}
    </div>
{{/submission}}

{{#answer}}
    {{^is_material}}
        <div class="a-input-block d-flex justify-content-center align-items-start text-center w-100">
            <table class="array-input table table-hover table-bordered table-sm rounded-3 overflow-hidden w-auto mb-2">
                <thead class="table-light">
                    <tr>
                        {{#column_names}}
                            <th class="px-2">{{{.}}}</th>
                        {{/column_names}}
                    </tr>
                </thead>
                <tbody>
                    {{#rows}}
                        <tr>
                            {{#index_col}}
                                <td>{{.}}</td>
                            {{/index_col}}
                            {{#content}}
                                <td>{{correct_answer}}</td>
                            {{/content}}
                        </tr>
                    {{/rows}}
                </tbody>
            </table>
        </div>
    {{/is_material}}
{{/answer}}

{{#format}}
    <p>{{grading_text}}</p>
{{/format}}
